{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Promoción</title>
    <link rel="stylesheet" href="{% static 'css/promociones/confirmarEliminar.css' %}">
</head>
<body>
<div class="contenedor">
    <h2>¿Estás seguro de eliminar esta promoción?</h2>
    <p>Se eliminará el código: <strong>{{ promocion.palabraclave }}</strong></p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-eliminar">Sí, eliminar</button>
        <a href="{% url 'lista_promociones' %}" class="btn btn-cancelar">Cancelar</a>
    </form>
</div>
</body>
</html>